*-chrome-mac.zip
third_party/WebKit/Source/devtools/front_end/audits2/lighthouse/renderer/logger.js
third_party/WebKit/Source/devtools/front_end/audits2/lighthouse/renderer/report-ui-features.js

# working files
.vim/viminfo
.vim/swaps/*
.vim/undo

# podman stuff
.config/containers
.local/

# git credential file
.gitconfig.local

# bash & zsh stuff
.zsh_sessions
.zsh_history
.z
.zshrc.zwc
.bash_sessions/
.bash_history

# no thx
node_modules
.npm
.vscode/


# System Folders
.Trash/
code/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
.ssh/ 

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

# random
shilocation
.CFUserTextEncoding
.lesshst

# config bits
.cfg
.antigen
.extra

