*-chrome-mac.zip
third_party/WebKit/Source/devtools/front_end/audits2/lighthouse/renderer/logger.js
third_party/WebKit/Source/devtools/front_end/audits2/lighthouse/renderer/report-ui-features.js

# working files
.vim/viminfo
.vim/swaps/*
.vim/undo

# git credential file
.gitconfig.local

# zsh stuff
.zsh_sessions
.zsh_history
.z

# no thx
node_modules
.npm


# System Folders
.Trash/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
.ssh/ 

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

# random
shilocation

# config bits
.cfg
.antigen


